*{
  background-color: black;
  font-family: sans-serif;
  font-weight: lighter;
}
h1{
  color:white;
  font-weight: bold;
}
.inputFields{
  display: flex;
  flex-direction: column;
}
input{
   font-size: 1.1em;
   outline: none;
   color: white;
   border: none;
   border-bottom: 2px solid whitesmoke;
   padding: 15px;
}
.container{
  margin:150px
}
button{
  background-color: white;
  cursor: pointer;
  padding: 10px;
  width:170px;
  margin-top: 20px;
  border: none;
  font-size: large;
}
.err{
  color: red;
  font-size: 1.1em
}
.succ{
  color: rgb(0, 104, 35);
  font-size: 1.1em
}